:root{
  /* --cl--dark: 0, 0%, 20%; */
  --primary-cl: #9373ee;
  --primary-cl-light:#F2EEFD;
  --border-cl : #EFEFEF;
  --border-cl2 : #E0E0E0;
  --foreground-rgb: 0, 0, 0;
  --background-rgb:255, 255, 255;
  --bg-primary-cl: #F8F8F8;
  --color:#181818;
}

/* 6B6B6B */